Integra-parent/Integra-services/src/test/resources/TsaServices.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax220="http://beans.integraws.afirma.gob.es/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax221="http://pojo.integraFacade.afirma.gob.es/xsd" xmlns:ns="http://tsaservices.ws.integraws.afirma.gob.es.v1" xmlns:ax222="http://ws.apache.org/namespaces/axis2/enum" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://tsaservices.ws.integraws.afirma.gob.es.v1">
<wsdl:documentation>TSAServices</wsdl:documentation>
<wsdl:types>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/namespaces/axis2/enum">
<xs:simpleType name="es.gob.afirma.integraFacade.pojo.HashAlgorithmEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="SHA1"/>
<xs:enumeration value="SHA256"/>
<xs:enumeration value="SHA384"/>
<xs:enumeration value="SHA512"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="es.gob.afirma.integraFacade.pojo.DocumentTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="BASE64_DATA"/>
<xs:enumeration value="BASE64_XML"/>
<xs:enumeration value="INLINE_XML"/>
<xs:enumeration value="ESCAPED_XML"/>
<xs:enumeration value="DOCUMENT_HASH"/>
<xs:enumeration value="TRANSFORMED_DATA"/>
<xs:enumeration value="DOCUMENT_HASH_TRANSFORMED_DATA"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="es.gob.afirma.integraFacade.pojo.TimestampTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="XML"/>
<xs:enumeration value="RFC_3161"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema xmlns:ax223="http://ws.apache.org/namespaces/axis2/enum" xmlns:ax225="http://beans.integraws.afirma.gob.es/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tsaservices.ws.integraws.afirma.gob.es.v1">
<xs:import namespace="http://ws.apache.org/namespaces/axis2/enum"/>
<xs:import namespace="http://beans.integraws.afirma.gob.es/xsd"/>
<xs:element name="verifyTimestamp">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="timestampReq" nillable="true" type="ax220:RequestTimestamp"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="verifyTimestampResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="ax220:ResponseTimestamp"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="renewTimestamp">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="timestampReq" nillable="true" type="ax220:RequestTimestamp"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="renewTimestampResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="ax220:ResponseTimestamp"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="generateTimestamp">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="timestampReq" nillable="true" type="ax220:RequestTimestamp"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="generateTimestampResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="ax220:ResponseTimestamp"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojo.integraFacade.afirma.gob.es/xsd">
<xs:complexType name="TimestampRequest">
<xs:sequence>
<xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="dataToStamp" nillable="true" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="documentHash" nillable="true" type="ax221:DocumentHash"/>
<xs:element minOccurs="0" name="documentType" nillable="true" type="ax222:es.gob.afirma.integraFacade.pojo.DocumentTypeEnum"/>
<xs:element minOccurs="0" name="timestampPreviousTimestampToken" nillable="true" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="timestampTimestampToken" nillable="true" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="timestampType" nillable="true" type="ax222:es.gob.afirma.integraFacade.pojo.TimestampTypeEnum"/>
<xs:element minOccurs="0" name="transformData" nillable="true" type="ax221:TransformData"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DocumentHash">
<xs:sequence>
<xs:element minOccurs="0" name="digestMethod" nillable="true" type="ax222:es.gob.afirma.integraFacade.pojo.HashAlgorithmEnum"/>
<xs:element minOccurs="0" name="digestValue" nillable="true" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="transform" nillable="true" type="ax221:TransformData"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TransformData">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="XPath" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="algorithm" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TimestampResponse">
<xs:sequence>
<xs:element minOccurs="0" name="result" nillable="true" type="ax221:Result"/>
<xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:base64Binary"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Result">
<xs:sequence>
<xs:element minOccurs="0" name="resultMajor" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="resultMinor" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:ax224="http://pojo.integraFacade.afirma.gob.es/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.integraws.afirma.gob.es/xsd">
<xs:import namespace="http://pojo.integraFacade.afirma.gob.es/xsd"/>
<xs:import namespace="http://pojo.integraFacade.afirma.gob.es/xsd"/>
<xs:complexType name="RequestTimestamp">
<xs:complexContent>
<xs:extension base="ax221:TimestampRequest">
<xs:sequence>
<xs:element minOccurs="0" name="idClient" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ResponseTimestamp">
<xs:complexContent>
<xs:extension base="ax221:TimestampResponse">
<xs:sequence>
<xs:element minOccurs="0" name="integraErrorMsg" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="integraSuccess" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="verifyTimestampRequest">
<wsdl:part name="parameters" element="ns:verifyTimestamp"/>
</wsdl:message>
<wsdl:message name="verifyTimestampResponse">
<wsdl:part name="parameters" element="ns:verifyTimestampResponse"/>
</wsdl:message>
<wsdl:message name="generateTimestampRequest">
<wsdl:part name="parameters" element="ns:generateTimestamp"/>
</wsdl:message>
<wsdl:message name="generateTimestampResponse">
<wsdl:part name="parameters" element="ns:generateTimestampResponse"/>
</wsdl:message>
<wsdl:message name="renewTimestampRequest">
<wsdl:part name="parameters" element="ns:renewTimestamp"/>
</wsdl:message>
<wsdl:message name="renewTimestampResponse">
<wsdl:part name="parameters" element="ns:renewTimestampResponse"/>
</wsdl:message>
<wsdl:portType name="TSAServicesPortType">
<wsdl:operation name="verifyTimestamp">
<wsdl:input message="ns:verifyTimestampRequest" wsaw:Action="urn:verifyTimestamp"/>
<wsdl:output message="ns:verifyTimestampResponse" wsaw:Action="urn:verifyTimestampResponse"/>
</wsdl:operation>
<wsdl:operation name="generateTimestamp">
<wsdl:input message="ns:generateTimestampRequest" wsaw:Action="urn:generateTimestamp"/>
<wsdl:output message="ns:generateTimestampResponse" wsaw:Action="urn:generateTimestampResponse"/>
</wsdl:operation>
<wsdl:operation name="renewTimestamp">
<wsdl:input message="ns:renewTimestampRequest" wsaw:Action="urn:renewTimestamp"/>
<wsdl:output message="ns:renewTimestampResponse" wsaw:Action="urn:renewTimestampResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="TSAServicesSoap12Binding" type="ns:TSAServicesPortType">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="verifyTimestamp">
<soap12:operation soapAction="urn:verifyTimestamp" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="generateTimestamp">
<soap12:operation soapAction="urn:generateTimestamp" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="renewTimestamp">
<soap12:operation soapAction="urn:renewTimestamp" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="TSAServices">
<wsdl:port name="TSAServicesHttpSoap12Endpoint" binding="ns:TSAServicesSoap12Binding">
<soap12:address location="http://localhost:8090/Integra-services/services/TSAServices.TSAServicesHttpSoap12Endpoint/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>